@import url('https://fonts.cdnfonts.com/css/telegraf');
@import "tailwindcss";

@theme {
  --font-telegraf: 'Telegraf';
  --font-display: 'Telegraf';
  
  --color-testimonial-primary: #857CFF; 
  --color-testimonial-secondary: #504A9900;
  --breakpoint-xs: 320px;
  --breakpoint-3xl: 1920px;
}